/*GENERAL*/
html, body{
}

html{
	min-height: 100%;
	position: relative;
}

body{
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	margin-bottom: 60px;
	height: 100%;
}

p{
	font-size: 16px;
}

.height100{
	height: 100%;
}

.height80{
	height: 80%;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.navbar-brand small{
	color: #E88895;
}

.clickable{
	cursor: pointer;
}

.character-wrap{
	word-wrap:break-word;
}

.disabled-fade{
	opacity: 0.7;
}

.semi-bold{
	font-weight: 600;
}

.bold{
	font-weight: 700;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #C6D5DD;
	font-size: 14px;
}

body > .container:last-of-type{
	margin-bottom: 100px;
}


/*TABLE LAYOUT*/
.table-parent{
	display: table;
	width: 100%;
}

.table-cell{
	display: table-cell;
	vertical-align: top;
}

.table-cell.table-cell-vcenter{
	vertical-align: middle;
}


/*BOOTSTRAP*/
.header-margin{
	margin-bottom: 24px;
}

.tool-tip-btn .btn-link{
	text-decoration: none;
	color: #303D44;
}

.card > .table{
	margin-bottom: 0px;
}


/*NAVBAR*/
.btn-default.link-dropdown{
	color: #777;
    background-color: transparent;
    border-color: transparent;
}

.dropdown-menu button.btn-link{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}


/*SETTINGS*/
.profile-image{
	font-size: 124px;
	color: #d4d4d4;
}


/*******   KAKIKOMI   *******/
body.kakikomi{
	background: #DAE5ED;
	color: #2B4459;
}

.kakikomi header{
	margin-top: 24px;
}

.kakikomi header h1{
	font-family: 'Playfair Display', serif;
	color: #C6D5DD;
	font-weight: 900;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 4px;
}

.kaki-logo{
	transform: rotate(56deg);
	opacity: 0.24;
	position: absolute;
	top: 24px;
	right: 24px;
	transition: transform .24s;
}

.kaki-logo:hover{
	transform: rotate(0deg);
	opacity: 1.0;
}

.kakikomi nav{
	height: 100vh;
	width: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	overflow: hidden;
	transition: width .3s;
}

.kakikomi nav.open{
	width: 240px;
}

.kakikomi nav .nav-inner{
	height: 100vh;
	width: 240px;
	color: #ffffff;
	background: #2B4459;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 24px;
}

.kakikomi .nav-logo{
	float: right;
}


/*MEDIA QUERIES*/
@media(max-width:500px){
	.budget-balance.tiny-balance{
		display: block;
	}
	.budget-balance{
		display: none;
	}
}
@media(max-width:767px){
	body.modal-open{
		position:fixed;
	}

	.navbar-right-button-end{
		margin: 0px;
		margin-right: 15px;
	}

	.budget-name{
		font-size: 16px;
		line-height: 16px;
	}

	.budget-balance{
	    font-size: 32px;
	    line-height: 32px;
		margin-bottom: 8px;
	}

	select, textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"]{
		font-size: 16px;
	}
}
@media(min-width:768px){
	/*.allowance .navbar{
		border-radius: 0px;
	}*/
}
@media(min-width:992px){
}
@media(min-width:1200px){
}

/*special queries*/
