/*GENERAL*/
html, body{
}

html{
	min-height: 100%;
	position: relative;
}

body{
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
	margin-bottom: 60px;
	height: 100%;
}

p{
	font-size: 16px;
}

.height100{
	height: 100%;
}

.height80{
	height: 80%;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.navbar-brand small{
	color: #E88895;
}

.clickable{
	cursor: pointer;
}

.character-wrap{
	word-wrap:break-word;
}

.semi-bold{
	font-weight: 600;
}

.bold{
	font-weight: 700;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #C6D5DD;
	font-size: 14px;
}

body > .container:last-of-type{
	margin-bottom: 100px;
}


/*TABLE LAYOUT*/
.table-parent{
	display: table;
	width: 100%;
}

.table-cell{
	display: table-cell;
	vertical-align: top;
}

.table-cell.table-cell-vcenter{
	vertical-align: middle;
}


/*BOOTSTRAP*/
.header-margin{
	margin-bottom: 24px;
}

.tool-tip-btn .btn-link{
	text-decoration: none;
	color: #303D44;
}

.card > .table{
	margin-bottom: 0px;
}


/*NAVBAR*/
.btn-default.link-dropdown{
	color: #777;
    background-color: transparent;
    border-color: transparent;
}

.dropdown-menu button.btn-link{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}


/*SETTINGS*/
.profile-image{
	font-size: 124px;
	color: #d4d4d4;
}


/*******   KAKIKOMI   *******/
body.kakikomi{
	background: #DAE5ED;
	color: #2B4459;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}

.kakikomi header{
	margin-top: 24px;
}

.kakikomi header h1{
	font-family: 'Playfair Display', serif;
	color: #C6D5DD;
	font-weight: 900;
	font-size: 36px;
	line-height: 1;
	letter-spacing: 4px;
}

.kaki-logo{
	transform: rotate(-56deg);
	opacity: 0.24;
	position: absolute;
	top: 24px;
	right: 24px;
	transition: transform .32s;
}

.kaki-logo:hover, .kaki-logo.on{
	transform: rotate(0deg);
	opacity: 1.0;
}

#kakikomi-menu{
	height: 100vh;
	width: 0px;
	position: fixed;
	z-index: 10;
	right: 0px;
	top: 0px;
	overflow: hidden;
	transition: width .4s;
}

#kakikomi-menu.open{
	width: 240px;
}

#kakikomi-menu .menu-inner{
	height: 100vh;
	width: 240px;
	color: #ffffff;
	background: #2B4459;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 24px;
}

#kakikomi-menu .menu-logo{
	float: right;
}

#click-away.on{
	position: fixed;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	top: 0px;
	left: 0px;
}

nav.tabs{
	margin-top: 24px;
}

nav .tab{
	letter-spacing: 2px;
	font-size: 16px;
	line-height: 44px;
	text-transform: uppercase;
	color: #88A2AA;
	width: 100%;
	display: block;
}

nav a.tab{
	text-decoration: none;
}

nav .tab.active, nav .tab:hover{
	border-bottom: solid 1px #C6D5DD;
}

main{
	margin-top: 48px;
}

.kakikomi input::placeholder, .kakikomi textarea::placeholder{
	font-style: italic;
	color: #88A2AA;
}

.kakikomi-write input.title-input{
	width: 100%;
	padding: 14px 20px;
	color: #2B4459;
	font-weight: 300;
	background: #C6D5DD;
	border: none;
	border-radius: 4px;
}

input.invisible-input{
	border: none;
	background: transparent;
}

.kakikomi-write .post-date{
	margin: 12px 0px;
	color: #88A2AA;
	font-weight: 300;
}

.kakikomi-write #tags-btn{
	margin: 12px 0px;
}

.kakikomi-write .body-container{
	position: relative;
}

.kakikomi-write .tags-container{
	background: #2B4459;
	color: #fff;
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	height: 0px;
	width: 100%;
	z-index: 10;
	border-radius: 4px;
	transition: height .4s;
}

.kakikomi-write .tags-container .tags-inner{
	padding: 24px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.kakikomi-write .tags-container.open{
	height: 400px;
}

.kakikomi-write textarea.post-input{
	width: 100%;
	padding: 20px;
	color: #2B4459;
	font-weight: 300;
	background: #C6D5DD;
	border: none;
	border-radius: 4px;
	resize: none;
	height: 400px;
	vertical-align: top;
}

.kakikomi-write .action-bar{
	margin-top: 16px;
}

.kakikomi .btn.btn-link{
	padding: 0px;
	font-weight: 400;
	margin-right: 48px;
}

.kakikomi .btn.btn-link:last-child{
	margin-right: 0px;
}

.kakikomi .btn.btn-link.secondary{
	color: #88A2AA;
}

.kakikomi .btn.btn-link.submit{
	color: #3CAD89;
}

.kakikomi .btn.btn-link.clear{
	font-weight: 300;
}

.kakikomi .badge{
	display: inline-block;
	border: solid 1px #88A2AA;
	padding: 4px 8px;
	border-radius: 24px;
	font-size: 10px;
	font-weight: 400;
}

.kakikomi-posts .post-date{
	font-size: 14px;
}

.kakikomi-posts .post-item{
	border-bottom: solid 1px #C6D5DD;
}


/*MEDIA QUERIES*/
@media(max-width:500px){
	.budget-balance.tiny-balance{
		display: block;
	}
	.budget-balance{
		display: none;
	}
}
@media(max-width:767px){
	body.modal-open{
		position:fixed;
	}

	.navbar-right-button-end{
		margin: 0px;
		margin-right: 15px;
	}

	.budget-name{
		font-size: 16px;
		line-height: 16px;
	}

	.budget-balance{
	    font-size: 32px;
	    line-height: 32px;
		margin-bottom: 8px;
	}

	select, textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"]{
		font-size: 16px;
	}
}
@media(min-width:768px){
	/*.allowance .navbar{
		border-radius: 0px;
	}*/
}
@media(min-width:992px){
}
@media(min-width:1200px){
}

/*special queries*/
